<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.hibernate.eclipse.launch.ConsoleConfigurationLaunchConfigurationType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/hibernate35"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="hibernate35"/>
<stringAttribute key="org.hibernate.eclipse.launch.CFG_XML_FILE" value="/hibernatelib/cfg/hibernate.cfg.xml"/>
<stringAttribute key="org.hibernate.eclipse.launch.CONFIGURATION_FACTORY" value="CORE"/>
<listAttribute key="org.hibernate.eclipse.launch.FILE_MAPPINGS">
<listEntry value="/hibernate35/src/org/diagram/Customer.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Customers.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Dog.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Employees.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Kunde.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Offices.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Orderdetails.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Orders.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Passwordattributes.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Passwordresourceauditlog.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Payments.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Productlines.hbm.xml"/>
<listEntry value="/hibernate35/src/org/diagram/Products.hbm.xml"/>
</listAttribute>
<stringAttribute key="org.hibernate.eclipse.launch.HIBERNATE_VERSION" value="4.0"/>
</launchConfiguration>
