<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
       <page
             id="org.jboss.tools.hibernate.orm.ui.preferences"
             name="Hibernate"
             category="org.jboss.tools.common.model.ui.MainPreferencePage"
             class="org.jboss.tools.hibernate.orm.ui.internal.RuntimesPreferencePage">
       </page>
   </extension>

</plugin>
