<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.hibernate.eclipse.launch.ConsoleConfigurationLaunchConfigurationType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="hibernate40"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="hibernate40"/>
<stringAttribute key="org.hibernate.eclipse.launch.CFG_XML_FILE" value="/hibernatelib/cfg/hibernate.cfg.xml"/>
<stringAttribute key="org.hibernate.eclipse.launch.CONFIGURATION_FACTORY" value="CORE"/>
<listAttribute key="org.hibernate.eclipse.launch.FILE_MAPPINGS">
<listEntry value="/hibernate40/src/org/hsql/Customer.hbm.xml"/>
<listEntry value="/hibernate40/src/org/hsql/Customers.hbm.xml"/>
<listEntry value="/hibernate40/src/org/hsql/Dog.hbm.xml"/>
<listEntry value="/hibernate40/src/org/hsql/Employees.hbm.xml"/>
<listEntry value="/hibernate40/src/org/hsql/Kunde.hbm.xml"/>
<listEntry value="/hibernate40/src/org/hsql/Offices.hbm.xml"/>
<listEntry value="/hibernate40/src/org/hsql/Orderdetails.hbm.xml"/>
<listEntry value="/hibernate40/src/org/hsql/Orders.hbm.xml"/>
<listEntry value="/hibernate40/src/org/hsql/Passwordattributes.hbm.xml"/>
<listEntry value="/hibernate40/src/org/hsql/Passwordresourceauditlog.hbm.xml"/>
<listEntry value="/hibernate40/src/org/hsql/Payments.hbm.xml"/>
<listEntry value="/hibernate40/src/org/hsql/Productlines.hbm.xml"/>
<listEntry value="/hibernate40/src/org/hsql/Products.hbm.xml"/>
</listAttribute>
<stringAttribute key="org.hibernate.eclipse.launch.HIBERNATE_VERSION" value="4.0"/>
</launchConfiguration>
