<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension id="org.jboss.tools.hibernate.jpt.core"
		point="org.eclipse.jpt.core.jpaPlatforms">
		<jpaPlatform 
			factoryClass="org.jboss.tools.hibernate.jpt.core.internal.HibernateJpaPlatformFactory"
			default="false"
			id="hibernate"
			label="Hibernate">
		</jpaPlatform>		
	</extension>
 <extension
       point="org.eclipse.wst.common.project.facet.core.listeners">
    <listener
          class="org.jboss.tools.hibernate.jpt.core.internal.JPAPostInstallFasetListener"
          eventTypes="POST_INSTALL">
    </listener>
 </extension>

</plugin>
