<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.jdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="org.hibernate.eclipse.jdt.ui.internal.CriteriaQuickAssistProcessor"
            id="org.hibernate.eclipse.jdt.ui.criteriaquickassist"
            name="Criteria Quick Assists"/>
      <quickAssistProcessor
            class="org.hibernate.eclipse.jdt.ui.internal.HQLQuickAssistProcessor"
            id="org.hibernate.eclipse.jdt.ui.hqlquickassist"
            name="HQL Quick Assist"/>
   </extension>
  <extension
          id="org.hibernate.eclipse.jdt.ui.completioncategory"
          name="Hibernate Proposals"
          point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
       <javaCompletionProposalComputer
             activate="true"
             categoryId="org.hibernate.eclipse.jdt.ui.completioncategory"
             class="org.hibernate.eclipse.jdt.ui.internal.HQLJavaCompletionProposalComputer">
          <partition type="__java_string"/>
       </javaCompletionProposalComputer>
       <proposalCategory icon="icons/hibernate_proposalcategory.png"/>
    </extension>
  <extension
        point="org.eclipse.jdt.core.compilationParticipant">
     <compilationParticipant
           class="org.hibernate.eclipse.jdt.ui.internal.HQLExpressionCompilerParticipant"
           createsProblems="true"
           id="org.hibernate.eclipse.jdt.ui.internal.HQLExpressionCompilerParticipant">
        <managedMarker markerType="org.hibernate.eclipse.jdt.ui.hqlsyntax.problem"/>
     </compilationParticipant>
  </extension>
<extension id="org.hibernate.eclipse.jdt.ui.hqlsyntax.problem" point="org.eclipse.core.resources.markers" name="HQL syntax problem">
	<super type="org.eclipse.core.resources.problemmarker"/>
	<super type="org.eclipse.core.resources.textmarker"/>
	<persistent value="true"/>
</extension>
    <extension point="org.eclipse.ui.commands"> 
        <category id="org.hibernate.eclipse.jdt.ui.run_jpaaction.category1" 
            name="%Category_GenerateHibernateAnnotations"> 
        </category> 
        <command categoryId="org.hibernate.eclipse.jdt.ui.run_jpaaction.category1" 
            defaultHandler="org.hibernate.eclipse.jdt.ui.internal.jpa.actions.JPAMapToolActionDelegate" 
            id="org.hibernate.eclipse.jdt.ui.run_jpaaction" 
            name="%Command_GenerateHibernateAnnotations"> 
        </command> 
    </extension> 
    <extension point="org.eclipse.ui.menus"> 
        <menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=edit"> 
            <menu id="org.eclipse.jdt.ui.source.menu" label="%Menu_Source"> 
            </menu> 
        </menuContribution> 
        <menuContribution locationURI="menu:org.eclipse.jdt.ui.source.menu"> 
            <separator name="commentGroup" visible="true"/> 
            <separator name="editGroup" visible="true"/> 
            <separator name="importGroup" visible="true"/> 
            <separator name="generateGroup" visible="true"/> 
            <separator name="codeGroup" visible="true"/> 
            <separator name="externalizeGroup" visible="true"/> 
            <separator name="convertGroup" visible="true"/> 
        </menuContribution> 
        <menuContribution locationURI="menu:org.eclipse.jdt.ui.source.menu?after=generateGroup"> 
            <command commandId="org.hibernate.eclipse.jdt.ui.run_jpaaction" 
                id="org.hibernate.eclipse.jdt.ui.run_jpaaction" style="push"> 
                <visibleWhen checkEnabled="false"> 
                    <not> 
                        <reference definitionId="org.eclipse.wst.sse.ui.sseActiveContext.definition"></reference> 
                    </not> 
                </visibleWhen> 
            </command> 
        </menuContribution>
        <!-- next section will show Hibernate/JPA menu item in case of active XML editor --> 
        <!--<menuContribution locationURI="menu:sourceMenuId?after=additions"> 
            <command commandId="org.hibernate.eclipse.jdt.ui.run_jpaaction" 
                id="org.hibernate.eclipse.jdt.ui.run_jpaaction1" style="push"> 
                <visibleWhen checkEnabled="false"> 
                    <reference definitionId="org.eclipse.wst.sse.ui.sseActiveContext.definition"></reference> 
                </visibleWhen> 
            </command> 
        </menuContribution>--> 
    </extension> 
    <extension point="org.eclipse.ui.popupMenus">
		<!-- java editor context menu -->
        <viewerContribution
            id="org.hibernate.eclipse.jdt.ui.run_jpa.popupMenu"
            targetID="#CompilationUnitEditorContext">
            <menu label="%Menu_Source" path="edit" id="org.eclipse.jdt.ui.source.menu">
		        <separator name="commentGroup"/>
                <separator name="editGroup"/>
                <separator name="importGroup"/>
                <separator name="generateGroup"/>
                <separator name="codeGroup"/>
                <separator name="externalizeGroup"/>
                <separator name="convertGroup"/>
            </menu>
            <action
                  class="org.hibernate.eclipse.jdt.ui.internal.jpa.actions.JPAMapToolActionDelegate"
                  id="org.hibernate.eclipse.jdt.ui.run_jpaaction2"
                  label="%JavaEditorMenu_GenerateHibernateAnnotations"
                  menubarPath="org.eclipse.jdt.ui.source.menu/generateGroup"
                  style="push">
            </action>
        </viewerContribution>
		<!-- java element context menu -->
		<objectContribution adaptable="false" 
			id="org.hibernate.eclipse.jdt.ui.run_jpa.popupMenu.IJavaElementContribution" 
			objectClass="org.eclipse.jdt.core.IJavaElement">
			<visibility>
				<or>
					<objectClass name="org.eclipse.jdt.core.ICompilationUnit"/>
					<objectClass name="org.eclipse.jdt.internal.core.JavaProject"/>
					<objectClass name="org.eclipse.jdt.internal.core.PackageFragment"/>
					<and>
						<objectClass name="org.eclipse.jdt.internal.core.JavaElement"/>
						<not>
							<or>
								<objectClass name="org.eclipse.jdt.internal.core.ExternalPackageFragmentRoot"/>
								<objectClass name="org.eclipse.jdt.internal.core.JarPackageFragmentRoot"/>
								<objectClass name="org.eclipse.jdt.internal.core.ClassFile"/>
								<objectClass name="org.eclipse.jdt.internal.core.ExternalJavaProject"/>
							</or>
						</not>
					</and>
				</or>
			</visibility>
            <menu label="%Menu_Source" path="edit" id="org.eclipse.jdt.ui.source.menu">
		        <separator name="commentGroup"/>
                <separator name="editGroup"/>
                <separator name="importGroup"/>
                <separator name="generateGroup"/>
                <separator name="codeGroup"/>
                <separator name="externalizeGroup"/>
                <separator name="convertGroup"/>
            </menu>
			<action class="org.hibernate.eclipse.jdt.ui.internal.jpa.actions.JPAMapToolActionDelegate"
				id="org.hibernate.eclipse.jdt.ui.run_jpaaction3"
				label="%JavaElementMenu_GenerateHibernateAnnotations"
				menubarPath="org.eclipse.jdt.ui.source.menu/generateGroup">
			</action>
		</objectContribution>
    </extension>
	<extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="hibernatewizards"
            class="org.hibernate.eclipse.jdt.ui.wizards.NewHibernateMappingFileWizard"
            icon="icons/hibernate_small_icon.gif"
            id="org.hibernate.eclipse.console.wizards.NewHibernateMappingFileWizard"
            name="%New_wizard_menu_New_mapping_file">
         <description>
            %New_wizard_menu_New_mapping_file_description
         </description>
      </wizard>
      </extension>
</plugin>
