<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jboss.tools.hibernate.search.actions.indexrebuild"
            name="IndexRebuildAction">
      </command>
      <command
            defaultHandler="org.jboss.tools.hibernate.search.handler.IndexToolkitViewLaunchHandler"
            id="org.jboss.tools.hibernate.search.toolkit.IndexToolkitViewLaunchHandler"
            name="Open Index Toolkit">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.hibernate.eclipse.console.views.KnownConfigurationsView">
         <command
               commandId="org.jboss.tools.hibernate.search.actions.indexrebuild"
               label="Index Rebuild"
               style="push">
            <visibleWhen>
               <with
                     variable="selection">
                  <adapt
                        type="org.eclipse.jface.viewers.ITreeSelection">
                     <test
                           forcePluginActivation="true"
                           property="org.jboss.tools.hibernate.search.hibernateSearchEnabled"
                           value="true">
                     </test>
                  </adapt>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.tools.hibernate.search.toolkit.IndexToolkitViewLaunchHandler"
               label="Open Index Toolkit"
               style="push">
            <visibleWhen>
               <with
                     variable="selection">
                   <and>
                      <count
                            value="1">
                      </count>
                      <iterate
                            ifEmpty="false">
                         <instanceof
                               value="org.hibernate.console.ConsoleConfiguration">
                         </instanceof>
                      </iterate>
                      <adapt
                            type="org.eclipse.jface.viewers.ITreeSelection">
                         <test
                               forcePluginActivation="true"
                               property="org.jboss.tools.hibernate.search.hibernateSearchEnabled"
                               value="true">
                         </test>
                      </adapt>
                   </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="hibernatecategory"
            class="org.jboss.tools.hibernate.search.toolkit.IndexToolkitView"
            id="org.jboss.tools.hibernate.search.IndexToolkitView"
            name="Index Toolkit"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.jboss.tools.hibernate.search.property.testers.OneParentConfigPropertyTester"
            id="org.jboss.tools.hibernate.search.property.testers.OneParentConfigPropertyTester"
            namespace="org.jboss.tools.hibernate.search"
            properties="isSameConfig"
            type="org.eclipse.jface.viewers.ITreeSelection">
      </propertyTester>
      <propertyTester
            class="org.jboss.tools.hibernate.search.property.testers.HibernateSearchEnabledPropertyTester"
            id="org.jboss.tools.hibernate.search.property.testers.HibernateSearchEnabledPropertyTester"
            namespace="org.jboss.tools.hibernate.search"
            properties="hibernateSearchEnabled"
            type="org.eclipse.jface.viewers.ITreeSelection">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jboss.tools.hibernate.search.handler.IndexRebuildHandler"
            commandId="org.jboss.tools.hibernate.search.actions.indexrebuild">
         <enabledWhen>
         	<with variable="selection">
                    <or>
	                     <and>
		                     <adapt type="org.eclipse.jface.viewers.ITreeSelection">
						         <test
						               forcePluginActivation="true"
						               property="org.jboss.tools.hibernate.search.isSameConfig"
						               value="true"/>
						     </adapt>
						     <iterate
	                              ifEmpty="false">
	                           <instanceof
	                                 value="org.jboss.tools.hibernate.runtime.spi.IPersistentClass">
	                           </instanceof>
	                        </iterate>
						 </and>
                        <iterate 
                        	  ifEmpty="false">
                           <instanceof
                                 value="org.hibernate.console.ConsoleConfiguration">
                           </instanceof>
                        </iterate>
                 	</or>
              </with>
         </enabledWhen>
      </handler>
   </extension>
</plugin>
