<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            icon="icons/hibernate_small_icon.gif"
            class="org.hibernate.eclipse.console.HibernateConsolePerspectiveFactory"
            name="Hibernate Console"
            id="org.hibernate.eclipse.console.HibernateConsolePerspective"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Hibernate"
            id="hibernatecategory"/>
      <view
            icon="icons/hibernate_small_icon.gif"
            class="org.hibernate.eclipse.console.views.HQLEditorView"
            category="hibernatecategory"
            name="HQL Editor View"
            id="org.hibernate.eclipse.console.views.HQLEditorView"/>
      <view
            icon="icons/hibernate_small_icon.gif"
            class="org.hibernate.eclipse.console.views.KnownConfigurationsView"
            category="hibernatecategory"
            name="Hibernate Configurations"
            id="org.hibernate.eclipse.console.views.KnownConfigurationsView"/>
      <view
            icon="icons/hibernate_small_icon.gif"
            class="org.hibernate.eclipse.console.views.QueryPageTabView"
            category="hibernatecategory"
            name="Query result"
            id="org.hibernate.eclipse.console.views.QueryPageTabView"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Hibernate"
            id="hibernatewizards"/>
      <wizard
            class="org.hibernate.eclipse.console.wizards.NewConfigurationWizard"
            icon="icons/hibernate_small_icon.gif"
            category="hibernatewizards"
            name="Hibernate Configuration File (cfg.xml)"
            id="org.hibernate.eclipse.console.wizards.NewConfigurationWizard"/>
      <wizard
            icon="icons/hibernate_small_icon.gif"
            class="org.hibernate.eclipse.console.wizards.ConsoleConfigurationCreationWizard"
            finalPerspective="org.hibernate.eclipse.console.HibernateConsolePerspective"
            descriptionImage="icons/hibernate_small_icon.gif"
            category="hibernatewizards"
            project="true"
            preferredPerspectives="org.hibernate.eclipse.console.HibernateConsolePerspective"
            name="Hibernate Console Configuration"
            id="org.hibernate.eclipse.console.wizards.ConsoleConfigurationCreationWizard"/>
      <wizard
            class="org.hibernate.eclipse.console.wizards.ArtifactGeneratorWizard"
            icon="icons/hibernate_small_icon.gif"
            category="hibernatewizards"
            name="Hibernate Artifact Generation"
            id="org.hibernate.eclipse.console.wizards.ArtifactGeneratorWizard"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.xml"
            id="org.hibernate.eclipse.console.jtidyformat">
         <menu
               label="JTidy"
               path="additions"
               id="org.hibernate.eclipse.console.jtidymenu">
            <separator name="group1"/>
         </menu>
         <action
               label="Format with JTidy"
               class="org.hibernate.eclipse.console.actions.JTidyFormatAction"
               menubarPath="org.hibernate.eclipse.console.jtidymenu/group1"
               id="org.hibernate.eclipse.console.jtidyformat"/>
      </objectContribution>
   </extension>

</plugin>
