* {
	LINE-HEIGHT: 20px; FONT-FAMILY: verdana, helvetica, sans-serif
}
DIV.navheader TABLE, DIV.navheader TABLE td, DIV.navfooter TABLE, DIV.navfooter TABLE td{
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-SIZE: 11px; padding : 0px;
}
A {
	COLOR: #2a7bd4; FONT-FAMILY: verdana, helvetica, sans-serif
}
A:hover {
	COLOR: #003399; FONT-FAMILY: verdana, helvetica, sans-serif
}
A:visited {
	COLOR: #888888; FONT-FAMILY: verdana, helvetica, sans-serif
}
P {
	FONT-SIZE: 12px; COLOR: #000000; margin : 5px 0px 5px 0px;
}
OL {
	FONT-SIZE: 12px; COLOR: #000000; margin-top : 5px; margin-bottom : 5px;
}
UL {
	FONT-SIZE: 12px; COLOR: #000000; margin-top : 5px; margin-bottom : 5px;
}
LI {
	FONT-SIZE: 12px; COLOR: #000000; margin-top : 5px; margin-bottom : 5px;
}
DL {
	FONT-SIZE: 12px; COLOR: #000000; margin-top : 5px; margin-bottom : 5px;
}
DT {
	FONT-SIZE: 12px; COLOR: #000000; margin-top : 5px; margin-bottom : 5px;
}
DD {
	FONT-SIZE: 12px; COLOR: #000000; margin-top : 5px; margin-bottom : 5px;
}
BLOCKQUOTE {
	FONT-SIZE: 12px; COLOR: #000000
}
TD {
	COLOR: #000000
}
TH {
	COLOR: #000000
}
SPAN {
	COLOR: #000000
}
SPAN.property {
	COLOR: #008cca;
}
SPAN.italic {
	FONT-STYLE: italic;
}

BLOCKQUOTE {
	MARGIN-RIGHT: 0px
}

P.title {
	MARGIN-BOTTOM: 5px;
	MARGIN-top: 20px;
}

div.book div.chapter .title {
	text-align: left;
}


div.book .title {
	text-align: center;
}

div.book .subtitle {
	text-align: center;
}

.mediaobject{
	padding : 5px 10px 5px 35px;
}
H1 {
	MARGIN: 0px; FONT-SIZE: 22px; COLOR: #ff6600; PADDING: 45px 0px 10px 0px;
}
H2 {
	MARGIN: 0px; FONT-SIZE: 18px; COLOR: #2a7bd4; PADDING: 25px 0px 10px 0px;
}
H3 {
	MARGIN: 0px; FONT-SIZE: 15px; COLOR: #000000; PADDING: 20px 0px 10px 0px;
}
H4 {
	MARGIN: 0px; FONT-SIZE: 12px; COLOR: #000000; PADDING: 15px 0px 10px 0px;
}
H5 {
	MARGIN: 0px; FONT-SIZE: 12px; COLOR: #000000; PADDING: 15px 0px 10px 0px;
}
H6 {
	MARGIN: 0px; FONT-SIZE: 11px; COLOR: #000000; PADDING: 5px 0px 0px 0px;
}

div.book div.section div.mediaobject{
text-align:left;
}


div.book div.mediaobject{
text-align:center;
}

div.mediaobject, div.mediaobject img *{
text-align:left;

}

DIV.note{
	BORDER: #CECECE 1px solid; PADDING: 3px 10px 10px 50px; line-height : 14px;   MARGIN: 10px 0px 10px 0px; FONT-SIZE: 11px; WIDTH: 500px; BACKGROUND-COLOR: #FFFDD3;
	background-image : url('images/ico_note.gif'); background-repeat : no-repeat; background-position :top left;
}

DIV.note *{
	line-height : 14px;
}

.note P {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.important P {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.important {
	BORDER: #CECECE  1px solid; PADDING: 3px 10px 10px 50px; line-height : 14px;   MARGIN: 10px 0px 10px 0px; FONT-SIZE: 11px; WIDTH: 500px; BACKGROUND-COLOR: #fee3d9;
	background-image : url('images/ico_important.gif'); background-repeat : no-repeat; background-position :top left; 
}

DIV.important *{
	line-height : 14px;
}

.important pre.XML {
PADDING: 1px 1px 1px 10px;

}

DIV.tip {
	BORDER: #CECECE  1px solid; PADDING: 3px 10px 10px 50px; line-height : 14px;   MARGIN: 10px 0px 10px 0px; FONT-SIZE: 11px; WIDTH: 500px; BACKGROUND-COLOR: #CFE3FF; background-repeat : no-repeat; background-position :top left; background-image : url('images/ico_tip.gif');
}

DIV.tip *{
	line-height : 14px;
}

.tip pre.XML {
PADDING: 1px 1px 1px 10px;

}

TABLE {
	BORDER: #cccccc 1px solid; FONT-SIZE: 11px; BORDER-COLLAPSE: collapse;  border-spacing: 0; empty-cells: hide; margin-bottom : 10px;
}

table *{
	line-height : 14px;
}


.table TH {
	WHITE-SPACE: nowrap; BACKGROUND-COLOR: #EEF5FF; TEXT-ALIGN: center;   BORDER-BOTTOM: #CAE1FF 2px solid; PADDING: 2px 8px 2px 8px;
	background-image : url('images/bg_table.gif'); background-repeat : repeat-x; background-position :top left;
}
TD {
	PADDING: 4px 8px 4px 8px; BORDER-BOTTOM: #cccccc 1px dotted;  BORDER-right: #cccccc 1px dotted;
}
P.copyright {
	TEXT-ALIGN: center
}
TT {
	FONT-SIZE: 90%; COLOR: #000000; FONT-FAMILY: "Courier New", Courier, monospace
}
DL {
	MARGIN-BOTTOM: 6px; MARGIN-LEFT: 8px
}
DT {
	MARGIN-BOTTOM: 6px; MARGIN-LEFT: 8px
}
DD {
	MARGIN-BOTTOM: 6px; MARGIN-LEFT: 8px
}
PRE {
	BORDER: #cccccc 1px solid; PADDING: 5px 15px 5px 25px; FONT-SIZE: 11px;  BACKGROUND-COLOR: #f5f5f5;
}
HR {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; WIDTH: 100%; COLOR: #cccccc; PADDING-TOP: 0px; HEIGHT: 1px; BACKGROUND-COLOR: #cccccc; BORDER-RIGHT-WIDTH: 0px
}
.variablelist {
	PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 10px
}
.itemizedlist {
	FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px;TEXT-ALIGN: justify
}
.term {
	FONT-WEIGHT: bold
}
PRE.JAVA {
	LINE-HEIGHT: 0px
}
PRE.XML {
	LINE-HEIGHT: 0px
}
PRE.JSP {
	LINE-HEIGHT: 0px
}
PRE.XHTML {
	LINE-HEIGHT: 0px
}
.java_type {
	COLOR: #008cca
}
.java_keyword {
	FONT-WEIGHT: bold; COLOR: rgb(0,0,0)
}
.java_javadoc_comment {
	COLOR: rgb(147,147,147); FONT-STYLE: italic; BACKGROUND-COLOR: rgb(247,247,247)
}
.java_comment {
	COLOR: rgb(147,147,147); BACKGROUND-COLOR: rgb(247,247,247)
}
.java_operator {
	COLOR: #003399
}
.java_plain {
	COLOR: rgb(0,0,0)
}
.java_literal {
	COLOR: #ff6600
}
PRE CODE {
	FONT-SIZE: 12px; COLOR: rgb(0,0,0); FONT-FAMILY: monospace; WHITE-SPACE: nowrap
}
.java_javadoc_tag {
	FONT-WEIGHT: bold; COLOR: rgb(147,147,147); FONT-STYLE: italic; BACKGROUND-COLOR: rgb(247,247,247)
}
.java_separator {
	COLOR: #008cca
}
.xml_plain {
	COLOR: rgb(0,0,0)
}
.xml_tag_name {
	COLOR: #008cca
}
.xml_comment {
	COLOR: rgb(147,147,147); BACKGROUND-COLOR: rgb(247,247,247)
}
.xml_tag_symbols {
	COLOR: #008cca
}
.xml_rife_tag {
	COLOR: rgb(0,0,0); BACKGROUND-COLOR: rgb(228,230,160)
}
.xml_attribute_value {
	COLOR: #ff6600
}
.xml_attribute_name {
	FONT-WEIGHT: bold; COLOR: rgb(0,0,0)
}
.xml_char_data {
	COLOR: rgb(0,0,0)
}
.xml_rife_name {
	COLOR: #008cca; BACKGROUND-COLOR: rgb(228,230,160)
}
.xml_processing_instruction {
	FONT-WEIGHT: bold; COLOR: rgb(0,0,0); FONT-STYLE: italic
}
TD.java {
	VERTICAL-ALIGN: top; LINE-HEIGHT: 10px
}
TD.java-ln {
	VERTICAL-ALIGN: top; LINE-HEIGHT: 10px
}
TT.java {
	MARGIN-BOTTOM: 0em; LINE-HEIGHT: 10px
}
TT.java-ln {
	MARGIN-BOTTOM: 0em; LINE-HEIGHT: 10px
}
PRE.java {
	MARGIN-BOTTOM: 0em; LINE-HEIGHT: 10px
}
PRE.java-ln {
	MARGIN-BOTTOM: 0em; LINE-HEIGHT: 10px
}
TD.java-ln {
	LINE-HEIGHT: 10px; TEXT-ALIGN: right
}
TT.java-ln {
	COLOR: #888888; LINE-HEIGHT: 10px
}
PRE.java-ln {
	COLOR: #888888; LINE-HEIGHT: 10px
}
SPAN.java0 {
	FONT-SIZE: 8pt; COLOR: #ffffff; LINE-HEIGHT: 10px
}
SPAN.java1 {
	FONT-SIZE: 8pt; COLOR: #808080
}
SPAN.java2 {
	FONT-SIZE: 8pt; COLOR: #3f7f5f; LINE-HEIGHT: 10px
}
SPAN.java3 {
	FONT-SIZE: 8pt; COLOR: #3f7f5f; LINE-HEIGHT: 10px
}
SPAN.java4 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ff6600; LINE-HEIGHT: 10px
}
SPAN.java5 {
	FONT-SIZE: 8pt; COLOR: #2a00ff; LINE-HEIGHT: 10px
}
SPAN.java6 {
	FONT-SIZE: 8pt; COLOR: #990000; LINE-HEIGHT: 10px
}
SPAN.java7 {
	FONT-SIZE: 8pt; COLOR: #990000; LINE-HEIGHT: 10px
}
SPAN.java8 {
	FONT-SIZE: 8pt; COLOR: #000000; LINE-HEIGHT: 10px
}
SPAN.java9 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ff6600; LINE-HEIGHT: 10px
}
SPAN.java10 {
	FONT-SIZE: 8pt; COLOR: #000000; LINE-HEIGHT: 10px
}
SPAN.java11 {
	FONT-SIZE: 8pt; COLOR: #7f9fbf; LINE-HEIGHT: 10px
}
SPAN.java12 {
	FONT-SIZE: 8pt; COLOR: #7f7f9f; LINE-HEIGHT: 10px
}
SPAN.java13 {
	FONT-SIZE: 8pt; COLOR: #3f3fbf; LINE-HEIGHT: 10px
}
SPAN.java14 {
	FONT-SIZE: 8pt; COLOR: #3f5fbf; LINE-HEIGHT: 10px
}
SPAN.java15 {
	FONT-SIZE: 8pt; COLOR: #ff6100; LINE-HEIGHT: 10px
}
SPAN.java16 {
	FONT-SIZE: 8pt; COLOR: #646464; LINE-HEIGHT: 10px
}

.expand_collapse_toc {
	clear:both;
	float:left;
	font-family:monospace;
	width:20px;
	color: #2A7BD4;
	cursor: pointer;
}

pre.CSS, pre.css {
	line-height:0px;
	margin-bottom:0em;
}
.css_normal {
	line-height:0px;
	color:#000000;
}
.css_colon {
color:#000000;
}
.css_semi_colon {
color:#000000;
}
.css_curly_brace {
color:#000000;
}
.css_comment {
color:#939393;
}
.css_error {
color:#BF3F3F;
}
.css_selector {
color:#008cca;
}
.css_null {
color:#008cca;
}
.css_property_name {
color:#000000;
font-weight:bold;
}
.css_property_value {
color:#ff6600;
}
.css_uri {
color:#2A00FF;
}
.css_atmark_rule {
color:#3F7F7F;
}
.css_media {
color:#336699;
}
.css_string {
color:#336699;
}