lib/commons-logging-*.jar
lib/hibernate-commons-annotations-*.jar
lib/hibernate-core-*.jar
lib/hibernate-entitymanager-*.jar
lib/hibernate-jpa-2.1-api-*.jar
lib/hibernate-tools-*.jar
lib/jboss-logging-*.jar
lib/jboss-transaction-api_1.2_spec-*.jar
lib/jandex-*.jar
lib/javassist-*.jar
