<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="content-type.hbm.xml"
            name="Hibernate Mapping Content-Type"
            priority="normal">
         <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="hibernate-mapping"/>
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.wst.sse.core.modelHandler">
         <modelHandler
               associatedContentTypeId="org.hibernate.eclipse.mapper.content-type.hbm.xml"
               class="org.hibernate.eclipse.mapper.modelhandler.ModelHandlerForHBMXML"
               default="false"
               id="org.hibernate.eclipse.mapper.handler.hbm.xml">
         </modelHandler>
   </extension>
   <extension
         point="org.eclipse.wst.sse.ui.extendedconfiguration">
      <configuration
            class="org.hibernate.eclipse.mapper.editors.HBMXMLStructuredTextViewerConfiguration"
            target="org.hibernate.eclipse.mapper.content-type.hbm.xml"
            type="textviewerconfiguration"/>
   </extension>
   <extension
         point="org.eclipse.wst.sse.ui.adapterFactoryDescription">
      <adapterFactoryDescription
            class="org.hibernate.eclipse.mapper.registry.AdapterFactoryProviderForHBMXML">
      </adapterFactoryDescription>         
   </extension>
  </plugin>
