<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="content-type.hbm.xml"
            name="Hibernate Mapping Content-Type"
            priority="normal">
         <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="hibernate-mapping"/>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            file-names="hibernate.cfg.xml"
            id="content-type.cfg.xml"
            name="Hibernate Configuration Content-type"
            priority="normal">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="hibernate-configuration"/>
         </describer>
      </content-type>
	  <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            file-names="override.reveng.xml"
            id="content-type.reveng.xml"
            name="Hibernate Reverse Engineering Override Content-type"
            priority="normal">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="hibernate-reverse-engineering"/>
         </describer>
      </content-type>      
   </extension>
   <extension
         point="org.eclipse.wst.sse.core.modelHandler">
         <modelHandler
               associatedContentTypeId="org.hibernate.eclipse.mapper.content-type.hbm.xml"
               class="org.hibernate.eclipse.mapper.modelhandler.ModelHandlerForHBMXML"
               default="false"
               id="org.hibernate.eclipse.mapper.handler.hbm.xml">
         </modelHandler>
         <modelHandler
               associatedContentTypeId="org.hibernate.eclipse.mapper.content-type.cfg.xml"
               class="org.hibernate.eclipse.mapper.modelhandler.ModelHandlerForCFGXML"
               default="false"
               id="org.hibernate.eclipse.mapper.handler.cfg.xml">
         </modelHandler>
         <modelHandler
               associatedContentTypeId="org.hibernate.eclipse.mapper.content-type.reveng.xml"
               class="org.hibernate.eclipse.mapper.modelhandler.ModelHandlerForREVENGXML"
               default="false"
               id="org.hibernate.eclipse.mapper.handler.reveng.xml">
         </modelHandler>
   </extension>
   <extension
         point="org.eclipse.wst.sse.ui.extendedconfiguration">
      <configuration
            class="org.hibernate.eclipse.mapper.editors.HBMXMLStructuredTextViewerConfiguration"
            target="org.hibernate.eclipse.mapper.content-type.hbm.xml"
            type="textviewerconfiguration"/>
	  <configuration
            class="org.hibernate.eclipse.mapper.editors.CFGXMLStructuredTextViewerConfiguration"
            target="org.hibernate.eclipse.mapper.content-type.cfg.xml"
            type="textviewerconfiguration"/>            
	  <configuration
            class="org.hibernate.eclipse.mapper.editors.CFGXMLStructuredTextViewerConfiguration"
            target="org.hibernate.eclipse.mapper.content-type.reveng.xml"
            type="textviewerconfiguration"/>             
   </extension>
   <extension
         point="org.eclipse.wst.sse.ui.adapterFactoryDescription">
      <adapterFactoryDescription
            class="org.hibernate.eclipse.mapper.registry.AdapterFactoryProviderForHBMXML">
      </adapterFactoryDescription>         
      <adapterFactoryDescription
            class="org.hibernate.eclipse.mapper.registry.AdapterFactoryProviderForCFGXML">
      </adapterFactoryDescription>         
      <adapterFactoryDescription
            class="org.hibernate.eclipse.mapper.registry.AdapterFactoryProviderForREVENGXML">
      </adapterFactoryDescription>          
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="hibernatecategory"
            class="org.hibernate.eclipse.mapper.views.FormView"
            icon="icons/sample.gif"
            id="org.hibernate.eclipse.mapper.views.FormView"
            name="Form View"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.hibernate.eclipse.mapper.editors.ReverseEngineeringMultiPageEditor"
            contributorClass="org.hibernate.eclipse.mapper.editors.ReverseEngineeringMultiPageEditorContributor"
            extensions="override.reveng.xml"
            icon="icons/hibernate_small_icon.gif"
            id="org.hibernate.eclipse.mapper.editors.ReverseEngineeringMultiPageEditor"
            name="Hibernate reverse engineering editor"/>
   </extension>
    <extension point = "org.eclipse.wst.xml.uriresolver.catalogContributor">
     <catalogContributor catalogId="default">
               <mappingInfo
               key="-//Hibernate/Hibernate Mapping DTD 3.0//EN"
               uri="dtds/hibernate-mapping-3.0.dtd">
         </mappingInfo>
         <mappingInfo
               key="-//Hibernate/Hibernate Configuration DTD 3.0//EN"
               uri="dtds/hibernate-configuration-3.0.dtd">
         </mappingInfo>
         <mappingInfo
               key="-//Hibernate/Hibernate Reverse Engineering DTD 3.0//EN"
               uri="dtds/hibernate-reverse-engineering-3.0.dtd">
         </mappingInfo>
     </catalogContributor>
     </extension>
  </plugin>
