<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="content-type.hbm.xml"
            name="Hibernate Mapping Content-Type"
            priority="low">
         <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="hibernate-mapping"/>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            file-names="hibernate.cfg.xml"
            id="content-type.cfg.xml"
            name="Hibernate Configuration Content-type"
            priority="normal">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="hibernate-configuration"/>
         </describer>
      </content-type>
	  <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            file-names="hibernate.reveng.xml"
            id="content-type.reveng.xml"
            name="Hibernate Reverse Engineering Override Content-type"
            priority="high">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="hibernate-reverse-engineering"/>
         </describer>
      </content-type>      
   </extension>
   <extension
         point="org.eclipse.wst.sse.core.modelHandler">
         <modelHandler
               associatedContentTypeId="org.hibernate.eclipse.mapper.content-type.hbm.xml"
               class="org.hibernate.eclipse.mapper.modelhandler.ModelHandlerForHBMXML"
               default="false"
               id="org.hibernate.eclipse.mapper.handler.hbm.xml">
         </modelHandler>
         <modelHandler
               associatedContentTypeId="org.hibernate.eclipse.mapper.content-type.cfg.xml"
               class="org.hibernate.eclipse.mapper.modelhandler.ModelHandlerForCFGXML"
               default="false"
               id="org.hibernate.eclipse.mapper.handler.cfg.xml">
         </modelHandler>
         <modelHandler
               associatedContentTypeId="org.hibernate.eclipse.mapper.content-type.reveng.xml"
               class="org.hibernate.eclipse.mapper.modelhandler.ModelHandlerForREVENGXML"
               default="false"
               id="org.hibernate.eclipse.mapper.handler.reveng.xml">
         </modelHandler>
   </extension>
   <extension
         point="org.eclipse.wst.sse.ui.extendedconfiguration">
      <configuration
            class="org.hibernate.eclipse.mapper.editors.HBMXMLStructuredTextViewerConfiguration"
            target="org.hibernate.eclipse.mapper.content-type.hbm.xml"
            type="textviewerconfiguration"/>
      <configuration
            type="contentoutlineconfiguration"
            target="org.hibernate.eclipse.mapper.content-type.hbm.xml" 
            class="org.hibernate.eclipse.mapper.views.contentoutline.HibernateXMLContentOutlineConfiguration"            
            />                       
	  <configuration
            class="org.hibernate.eclipse.mapper.editors.CFGXMLStructuredTextViewerConfiguration"
            target="org.hibernate.eclipse.mapper.content-type.cfg.xml"
            type="textviewerconfiguration"/>            
      <configuration
            type="contentoutlineconfiguration"
            target="org.hibernate.eclipse.mapper.content-type.cfg.xml" 
            class="org.hibernate.eclipse.mapper.views.contentoutline.HibernateXMLContentOutlineConfiguration"            
            />                       
   	  <configuration
            class="org.hibernate.eclipse.mapper.editors.CFGXMLStructuredTextViewerConfiguration"
            target="org.hibernate.eclipse.mapper.content-type.reveng.xml"
            type="textviewerconfiguration"/>  
      <configuration
            type="contentoutlineconfiguration"
            target="org.hibernate.eclipse.mapper.content-type.reveng.xml" 
            class="org.hibernate.eclipse.mapper.views.contentoutline.HibernateXMLContentOutlineConfiguration"            
            />                                   
   </extension>
   <extension
         point="org.eclipse.ui.views">
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.hibernate.eclipse.mapper.editors.ReverseEngineeringEditor"
            contributorClass="org.hibernate.eclipse.mapper.editors.ReverseEngineeringEditorContributor"
            icon="icons/hibernate_small_icon.gif"
            id="org.hibernate.eclipse.mapper.editors.ReverseEngineeringEditor"
            name="Hibernate reverse engineering editor">
         <contentTypeBinding contentTypeId="org.hibernate.eclipse.mapper.content-type.reveng.xml"/>
      </editor>
      <editor
            class="org.hibernate.eclipse.mapper.editors.HibernateCfgXmlEditor"
            contributorClass="org.hibernate.eclipse.mapper.editors.ReverseEngineeringEditorContributor"
            icon="icons/hibernate_small_icon.gif"
            id="org.hibernate.eclipse.mapper.editors.HibernateCfgXmlEditor"
            name="Hibernate Configuration XML Editor">
         <contentTypeBinding contentTypeId="org.hibernate.eclipse.mapper.content-type.cfg.xml"/>
      </editor>
   </extension>
  
    <extension point = "org.eclipse.wst.xml.core.catalogContributions">
     <catalogContribution>
	        <public publicId="-//Hibernate/Hibernate Mapping DTD 3.0//EN"
				uri="dtds/hibernate-mapping-3.0.dtd"
				webURL="http://hibernate.sourceforge.net/hibernate-mapping-3.0.dtd"/>
           <public publicId="-//Hibernate/Hibernate Configuration DTD 3.0//EN"
               uri="dtds/hibernate-configuration-3.0.dtd"
               webURL="http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"/>
           <public
               publicId="-//Hibernate/Hibernate Reverse Engineering DTD 3.0//EN"
               uri="dtds/hibernate-reverse-engineering-3.0.dtd"/>
     </catalogContribution>
    </extension>   
</plugin>
