<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.jboss.tools.hibernate.veditor.editors.VizualEditor"
            contributorClass="org.jboss.tools.hibernate.veditor.editors.EditorActionContributor"
            icon="icons/sample.gif"
            id="org.jboss.tools.hibernate.veditor.editors.vizualeditor"
            name="Vizual Editor">
      </editor>
   </extension>

</plugin>