lib/cglib-*.jar
lib/commons-logging-*.jar
lib/hibernate-commons-annotations-*.jar
lib/hibernate-core-*.jar
lib/hibernate-entitymanager-*.jar
lib/hibernate-jpa-2.0-api-*.jar
lib/hibernate-tools-*.jar
lib/javassist-*.jar
lib/jta-*.jar
lib/log4j-*.jar
lib/slf4j-api-*.jar