<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.hibernate.eclipse.launch.ConsoleConfigurationLaunchConfigurationType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="hibernate40"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="hibernate40"/>
<stringAttribute key="org.hibernate.eclipse.launch.CFG_XML_FILE" value="/hibernatelib/cfg/hibernate.cfg.xml"/>
<stringAttribute key="org.hibernate.eclipse.launch.CONFIGURATION_FACTORY" value="CORE"/>
<listAttribute key="org.hibernate.eclipse.launch.FILE_MAPPINGS">
<listEntry value="/hibernate40/src/org/pregen/hsqldb/Customer.hbm.xml"/>
<listEntry value="/hibernate40/src/org/pregen/hsqldb/Customers.hbm.xml"/>
<listEntry value="/hibernate40/src/org/pregen/hsqldb/Dog.hbm.xml"/>
<listEntry value="/hibernate40/src/org/pregen/hsqldb/Employees.hbm.xml"/>
<listEntry value="/hibernate40/src/org/pregen/hsqldb/Event.hbm.xml"/>
<listEntry value="/hibernate40/src/org/pregen/hsqldb/Kunde.hbm.xml"/>
<listEntry value="/hibernate40/src/org/pregen/hsqldb/Offices.hbm.xml"/>
<listEntry value="/hibernate40/src/org/pregen/hsqldb/Orderdetails.hbm.xml"/>
<listEntry value="/hibernate40/src/org/pregen/hsqldb/Orders.hbm.xml"/>
<listEntry value="/hibernate40/src/org/pregen/hsqldb/Passwordattributes.hbm.xml"/>
<listEntry value="/hibernate40/src/org/pregen/hsqldb/Passwordresourceauditlog.hbm.xml"/>
<listEntry value="/hibernate40/src/org/pregen/hsqldb/Payments.hbm.xml"/>
<listEntry value="/hibernate40/src/org/pregen/hsqldb/Productlines.hbm.xml"/>
<listEntry value="/hibernate40/src/org/pregen/hsqldb/Products.hbm.xml"/>
</listAttribute>
<stringAttribute key="org.hibernate.eclipse.launch.HIBERNATE_VERSION" value="4.0"/>
</launchConfiguration>
